In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
import datetime
from datetime import datetime

In [3]:
movie = pd.read_csv('movie_bd_v5.csv')
movie.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
156,tt1924435,17000000,136621271,Let's Be Cops,Jake Johnson|Damon Wayans Jr.|Nina Dobrev|Rob ...,Luke Greenfield,Fake Cops. Real Trouble.,It's the ultimate buddy cop movie except for o...,104,Comedy,Twentieth Century Fox Film Corporation|WideAwa...,8/13/2014,6.4,2014
1013,tt1667353,85000000,183018522,Mirror Mirror,Julia Roberts|Lily Collins|Armie Hammer|Nathan...,Tarsem Singh,The Snow White legend comes alive.,"After she spends all her money, an evil enchan...",106,Adventure|Fantasy|Drama|Comedy|Science Fiction,Relativity Media|Misher Films|Yucaipa Films|Go...,3/15/2012,5.4,2012
1595,tt0265208,25000000,30411183,The Girl Next Door,Emile Hirsch|Elisha Cuthbert|Timothy Olyphant|...,Luke Greenfield,Matt never saw her coming... but all his frien...,Exceptionally ambitious high schooler Matthew ...,108,Comedy,Regency Enterprises|Epsilon Motion Pictures|Ne...,4/9/2004,6.2,2004
185,tt2203939,40000000,196781193,The Other Woman,Cameron Diaz|Leslie Mann|Kate Upton|Don Johnso...,Nick Cassavetes,The oddest friends are about to get even,"After discovering her boyfriend is married, Ca...",109,Comedy|Romance,Twentieth Century Fox Film Corporation|LBI Pro...,4/16/2014,6.2,2014
410,tt0938283,150000000,318502923,The Last Airbender,Noah Ringer|Nicola Peltz|Jackson Rathbone|Dev ...,M. Night Shyamalan,"Four nations, one destiny","The story follows the adventures of Aang, a yo...",103,Action|Adventure|Family|Fantasy,Paramount Pictures|Nickelodeon Movies|Kennedy/...,6/30/2010,4.7,2010

In [4]:
movie.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [20]:
answers = {'1': '5', '2': '2', '3': '3', '4': '2', '5': '1', '6': '5', '7': '5', '8': '1', '9': '4', '10': '5', '11': '3', '12': '1', '13': '5', '14': '3', '15': '3', '16': '3', '17': '2', '18': '1', '19': '5', '20': '1', '21': '4', '22': '2', '23': '5', '24': '5', '25': '3', '26': '1', '27': '5'} # создадим словарь для ответов

#добавляем колонку profit
movie['profit'] = movie.revenue - movie.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'

In [7]:
movie = pd.read_csv('Movie_bd_v5.csv')
movie[movie.budget == movie.budget.max()].original_title.unique()

array(['Pirates of the Caribbean: On Stranger Tides'], dtype=object)

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals'

In [9]:
movie[movie.runtime == movie.runtime.max()].original_title.unique()

array(['Gods and Generals'], dtype=object)

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh'

In [11]:
movie[movie.runtime == movie.runtime.min()].original_title.unique()

array(['Winnie the Pooh'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 109.6585494970884'

In [13]:
mean = movie.runtime.mean(axis=0)
display(mean)

109.6585494970884

#### ВАРИАНТ 2

In [14]:
movie["runtime"].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107.0'

In [17]:
movie["runtime"].median(axis = 0, skipna = True)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = '5. Avatar'

In [21]:
movie['profit'] = movie.revenue - movie.budget
movie[movie.profit == movie.profit.max()].original_title.unique()

array(['Avatar'], dtype=object)

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = '5. The Lone Ranger'

In [23]:
movie[movie.profit == movie.profit.min()].original_title.unique()

array(['The Lone Ranger'], dtype=object)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = '1. 1478'

In [25]:
movie[movie.revenue > movie.budget].nunique()

imdb_id                 1478
budget                   177
revenue                 1476
original_title          1476
cast                    1467
director                 774
tagline                 1471
overview                1478
runtime                  100
genres                   548
production_companies    1268
release_date            1189
vote_average              44
release_year              16
profit                  1473
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
answers['9'] = '4. The Dark Knight '

In [29]:
mov = movie[(movie.release_year == 2008)].groupby('revenue').max()
mov.sort_values(by='revenue', ascending=False)

,imdb_id,budget,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
revenue,,,,,,,,,,,,,,
1001921825,tt0468569,185000000,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
786636033,tt0367882,185000000,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
631744560,tt0441773,130000000,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560
624029371,tt0448157,150000000,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371
609841637,tt0795421,52000000,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6673422,tt0486674,25000000,What Just Happened,Bruce Willis|Robert De Niro|Sean Penn|Robin Wr...,Barry Levinson,Admit nothing.,During the course of an ordinary week in Holly...,104,Comedy|Drama,2929 Productions|Linson Entertainment|Art Lins...,10/17/2008,5.1,2008,-18326578
5926410,tt0800241,15000000,Transsiberian,Woody Harrelson|Emily Mortimer|Kate Mara|Eduar...,Brad Anderson,You can't escape your lies.,A Trans-Siberian train journey from China to M...,111,Thriller|Crime|Mystery,Lietuvos Kinostudija|Scout Productions|Telecin...,1/18/2008,6.3,2008,-9073590
5530764,tt0844286,20000000,The Brothers Bloom,Rachel Weisz|Adrien Brody|Mark Ruffalo|Rinko K...,Rian Johnson,They'd never let the truth come between them.,The Brothers Bloom are the best con men in the...,114,Adventure|Comedy|Drama|Romance,The Weinstein Company|Summit Entertainment|End...,9/9/2008,6.8,2008,-14469236
3533227,tt0805570,15000000,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008,-11466773
2033165,tt0490181,8000000,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008,-5966835

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [31]:
answers['10'] = '5. The Lone Ranger '

In [32]:
movv = movie.loc[(movie.release_year <= 2014)&(movie.release_year > 2012)]
movv.sort_values('profit', ascending=True)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
1278,tt1235522,56000000,19701164,Broken City,Mark Wahlberg|Russell Crowe|Catherine Zeta-Jon...,Allen Hughes,Proof Can Be a Powerful Weapon.,"In a broken city rife with injustice, ex-cop B...",109,Thriller|Crime|Drama,Regency Enterprises|Inferno International|1984...,1/18/2013,5.7,2013,-36298836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186,tt1170358,250000000,958400000,The Hobbit: The Desolation of Smaug,Martin Freeman|Ian McKellen|Richard Armitage|K...,Peter Jackson,Beyond darkness... beyond desolation... lies t...,"The Dwarves, Bilbo and Gandalf have successful...",161,Adventure|Fantasy,WingNut Films|New Line Cinema|Metro-Goldwyn-Ma...,12/11/2013,7.6,2013,708400000
1182,tt1951264,130000000,847423452,The Hunger Games: Catching Fire,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,Every revolution begins with a spark.,Katniss Everdeen has returned home safe after ...,146,Science Fiction|Thriller|Action|Adventure,Lionsgate|Color Force,11/15/2013,7.4,2013,717423452
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009

# 11. Какого жанра фильмов больше всего?

In [33]:
answers['11'] = '3. Drama'

In [34]:
movie.genres = movie.genres.str.split('|')
movie.genres
movie = movie.explode('genres')
movie
movie.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [35]:
answers['12'] = '1. Drama'

In [36]:
movie[movie.profit>0].genres.str.split('|').explode().mode()[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [37]:
answers['13'] = '5. Peter Jackson'

In [39]:
directors = set(movie.director.str.split('|').sum())
pd.Series({x: movie[movie.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False).head(5)

Peter Jackson        17464735681
Christopher Nolan    16196885522
David Yates          13401099613
J.J. Abrams          12805687973
Michael Bay          12370445156
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
answers['14'] = '3. Robert Rodriguez'

In [41]:
movie.director = movie.director.str.split('|')
movie.director
movie = movie.explode('director')
movie
movie = movie[movie.genres.str.contains('Action')]
movie.director.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Dean DeBlois          1
Simon Wells           1
Terry Gilliam         1
Keanu Reeves          1
Antony Hoffman        1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [46]:
answers['15'] = '3. Chris Hemsworth'

In [51]:
import pandas as pd
import numpy as np
movie = pd.read_csv('movie_bd_v5.csv')
movie = movie.query('release_year == 2012').copy()
movie['cast'] = movie.cast.str.split('|')
movie = movie.explode('cast')
movie = movie.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue',ascending=False)
movie

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
answers['16'] = '3. Matt Damon'

In [54]:
import pandas as pd
import numpy as np
movie = pd.read_csv('movie_bd_v5.csv')
movie[movie.budget>movie.budget.mean()].cast.str.split('|').explode('cast').value_counts().idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [55]:
answers['17'] = '2. Action'

In [56]:
movie_tmp = movie[movie.cast.str.contains("Nicolas Cage")]
movie = movie_tmp['genres'].str.cat(sep='|') 
movie = pd.Series(movie.split('|')) 
movie = movie.value_counts(ascending=False) 
movie

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [57]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [63]:
import pandas as pd
import numpy as np
movie = pd.read_csv('movie_bd_v5.csv')
movie['profit'] = movie.revenue - movie.budget
movie.profit == movie.profit.min()
display(movie[(movie.production_companies.str.contains('Paramount Pictures', na=False))].groupby(movie['original_title'])['profit'].sum().sort_values(ascending=True))

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [64]:
answers['19'] = '5. 2015'

In [65]:
grouped_movie= movie.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(grouped_movie.head(5))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [66]:
answers['20'] = '1. 2014'

In [67]:
display(movie[(movie.production_companies.str.contains("Warner Bros", na=False))].groupby(
    movie['release_year'])['profit'].sum().sort_values(ascending=False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [68]:
answers['21'] = '4. Сентябрь'

In [69]:
movie['release_date'] = pd.to_datetime(movie['release_date'])
movie.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [70]:
answers['22'] = '2. 450'

In [71]:
movie[movie.release_date.dt.month.isin([6, 7, 8,])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,2015-06-23,5.8,2015,285603537
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,2015-06-17,6.5,2015,1082730962
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609
13,tt2120120,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,2015-07-16,5.8,2015,155637091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873,tt0160009,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,2000-08-23,5.7,2000,-9800895
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,2000-07-07,5.9,2000,4700000
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502

# 23. Для какого режиссера зима – самое продуктивное время года?

In [72]:
answers['23'] = '5. Peter Jackson'

In [73]:
mov2 = movie.copy()
mov2['release_date'] = pd.to_datetime(mov2['release_date'])
mov2[mov2.release_date.dt.month.isin([12, 1, 2,])].director.str.split('|').explode('director').value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Shawn Levy           4
                    ..
Roger Michell        1
Richard Eyre         1
J. Mackye Gruber     1
Gus Van Sant         1
Joseph Kahn          1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [74]:
answers['24'] = '5. Four By Two Productions'

In [75]:
movie['spell'] = movie['original_title'].map(lambda x: len(x))
companies = movie['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies) 
for comp in companies:
    sum_gen[comp] = movie['spell'][movie['production_companies'].map(lambda x: True if comp in x else False)].mean()

sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [76]:
answers['25'] = '3. Midnight Picture Show'

In [77]:
movv2 = movie.copy()
movv2['overview_length'] = movv2['overview'].str.split(' ').str.len()
movv2.production_companies = movv2.production_companies.str.split('|')
movv2 = movv2.explode('production_companies')
movv2.groupby('production_companies')['overview_length'].mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [78]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [79]:
border = np.quantile(movie.vote_average, 0.99)
movie[movie.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [82]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'

SyntaxError: EOL while scanning string literal (<ipython-input-82-626adf0750cf>, line 1)

In [83]:
pairs = Counter()
for i in range(0,len(movie)):
    artists = movie.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)